<div class= "container-fluid d-flex flex-column align-items-center" id = "classes">
  <h2>i miei corsi</h2>
  <% @lessons.each do |lesson| %>
    <% if lesson.online == false %>
        <div class= "container-blue row justify-content-center align-items-center">
          <div class= "col-12 col-lg-4">
          <%= image_tag "Liveclasses.jpg", class: "Alice", alt: "Pratica Yoga in palestra" %>
          </div>
          <div class = "violet-text col-12 col-lg-4">
            <h3><%= lesson.name %></h3>
            <ul>
              <li><%= lesson.description %></li>
              <li> <strong> Dove: </strong> <%= lesson.address %></li>
              <li> <strong> Per chi: </strong> <%= lesson.level %></li>
              <li> <strong> Quando: </strong><%= lesson.when %></li>
            </ul>
            <a href="http://www.24hours7days.it/index.php/monza" target="_blank">info</a>
          </div>
        </div>
    <% end %>
    <% if lesson.online == true %>
        <div class= "container-violet row flex-lg-row-reverse justify-content-center align-items-center">
          <div class= "col-12 col-lg-4">
          <%= image_tag "OnlineClasses.jpg", class: "Alice", alt: "Pratica Yoga a Casa" %>
          </div>
          <div class = "violet-text col-12 col-lg-4">
            <h3><%= lesson.name %></h3>
            <ul>
              <li><%= lesson.description %></li>
              <li> <strong> Dove: </strong> <%= lesson.address %></li>
              <li> <strong> Per chi: </strong> <%= lesson.level %></li>
              <li> <strong> Quando: </strong><%= lesson.when %></li>
            </ul>
            <%= link_to "prenota", lesson_path(lesson.id) %>
          </div>
        </div>
    <% end %>
 <% end %>
</div>
